<template name="entryList">
    <div class="list-block">
        <div class="container js-isotope"
             data-isotope-options='{ "itemSelector": ".grid-item", "layoutMode": "fitRows" }'>
            {{#each entries}}
                {{> entryItem}}
            {{/each}}
        </div>
        {{#if nextPath}}
            <a href="{{nextPath}}" class="btn btn-lgr-str">More</a>
        {{else}}
            {{#unless ready}}
                {{> loading}}
            {{/unless}}
        {{/if}}
    </div>
</template>