<template name="entryPageItem">
    <div class="container text-center entry-page" itemtype="{{itemtype}}">
        <meta itemprop='http://schema.org/name' content={{name}}>
        <meta itemprop='http://schema.org/url' content="{{absUrl}}">
        <meta itemprop='http://schema.org/publisher' content="{{publisherObj.username}}">
        <meta itemprop='http://schema.org/isBasedOnUrl' content="{{isBasedOnUrl}}">
        <meta itemprop='http://schema.org/description' content="{{description}}">
        <meta itemprop='http://schema.org/keywords' content="{{keywords}}">
        <meta itemprop='http://schema.org/license' content="{{license}}">
        <meta itemprop='http://schema.org/datePublished' content="{{datePublished}}">
        <meta itemprop='http://schema.org/dateModified' content="{{dateModified}}">
        <meta itemprop='http://schema.org/spatial' content="{{spatial}}">
        <meta itemprop='http://schema.org/datasetTimeInterval'
              content="{{datasetTimeInterval.startTime}} - {{datasetTimeInterval.endTime}}">
        <meta itemprop='http://schema.org/commentCount' content="{{commentCount}}">
        <h3 class="font-accident-one-bold uppercase white">{{name}}</h3>
        <h5 class="font-accident-one-bold title uppercase hovercolor"><span class="light">By</span> {{publisherObj.username}}, <span class="light">{{prettifyDate datePublished}}</span></h5>
        <div class="dividewhite4"></div>
        <p class="small fontcolor-medium-light">
            {{description}}
        </p>
        <div class="dividewhite2"></div>
        <div class="card-action">
            <a href="#" class="{{upVotedClass}} btn btn-default btn-sm" title="Up votes">
                <i class="fa fa-thumbs-up"></i> {{votes}}
            </a>
            <a href="#" class="{{downVotedClass}} btn btn-default btn-sm" title="Down votes">
                <i class="fa fa-thumbs-down"></i> {{downvotes}}
            </a>
            <!--<a href="{{pathFor ../routes.page hash='comments'}}" class="btn btn-default btn-xs" title="Comments">-->
                <!--<i class="fa fa-comment"></i> {{commentsCount}}-->
            <!--</a>-->
            {{#if ownEntry}}
                <a href="{{pathFor ../routes.edit}}" class="btn btn-default btn-sm" title="Edit">
                    <i class="fa fa-cog"></i> Edit
                </a>
            {{/if}}
            {{#if showInNewTab}}
                <a href="{{showInNewTab}}" title="Show in new tab" class="btn btn-default btn-sm" target="_blank">
                    <i class="fa fa-external-link">Open in Tab</i>
                </a>
            {{/if}}
        </div>
        <div class="dividewhite1"></div>
        <div class="row">
            {{#if canAccess this}}
                <h5 class="font-accident-one-bold uppercase"><i class="fa fa-check"></i> Accessible</h5>
            {{else}}
                <h5 class="font-accident-one-bold uppercase"><i class="fa fa-ban"></i> No Access</h5>
            {{/if}}
            {{#if offline}}
                <h5 class="font-accident-one-bold uppercase"><i class="fa fa-ban"></i> Offline</h5>
            {{/if}}
        </div>



        <div>
            {{#each this.distribution}}
                <span class="badge">{{> distribution}}</span>
            {{/each}}
        </div>
    </div>
</template>
