<template name="entryPage">
    {{>entryItem entry}}
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a href="#metadata">Metadata</a></li>
                <li class="tab col s3"><a href="#comments">Comments</a></li>
                {{#if canAccess entry}}
                    {{#each entry.distribution}}
                        <li class="tab col s3"><a href="{{appendHash _id}}">{{fileFormat}}</a></li>
                    {{/each}}
                {{/if}}

                {{#if showRequestForm}}
                    <li class="tab col s3"><a href="#request_access">{{requestFormTitle}}</a></li>
                {{/if}}
            </ul>
        </div>

        <div id="metadata" class="col s12">
            {{> quickForm collection=category id="metadataForm" type="readonly" doc=entry omitFields="comments, commentsCount, upvoters, downvoters, votes, downvotes, distribution.$.url, distribution.$.file, distribution.$.profile"}}
        </div>

        <div id="comments" class="col s12">
            <ul id="comments" class="comments">
                {{#each comments}}
                    {{> commentItem}}
                {{/each}}
            </ul>

            {{#if currentUser}}
                {{> commentSubmit}}
            {{else}}
                <p>Please log in to leave a comment.</p>
            {{/if}}
        </div>

        {{#if canAccess entry}}
            <!--show query interface-->
            {{#each entry.distribution}}
                {{>Template.dynamic template=fileFormat data=distData}}
            {{/each}}
            <!-- Modal Structure -->
            <div id="queryResult" class="modal modal-fixed-footer">
                <div class="modal-content">
                    <h4>Query Results</h4>
                    {{#if queryResult}}
                        <pre>{{{queryResult}}}</pre>
                    {{else}}
                        {{> loading}}
                    {{/if}}
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Dismiss</a>
                </div>
            </div>
        {{/if}}

        {{#if showRequestForm}}
            <!--show request access form if logged in-->
            <div id="request_access" class="col s12">
                {{#if currentUser}}
                    {{>requestFrom}}
                {{else}}
                    <p>Please log in to request access.</p>
                {{/if}}
            </div>
        {{/if}}
    </div>
</template>
