<template name="entryItem">
    <div class="grid-item" itemscope itemtype="{{itemtype}}">
        <meta itemprop='http://schema.org/name' content={{name}}>
        <meta itemprop='http://schema.org/url' content="{{absUrl}}">
        <meta itemprop='http://schema.org/publisher' content="{{publisherObj.name}}">
        <meta itemprop='http://schema.org/isBasedOnUrl' content="{{isBasedOnUrl}}">
        <meta itemprop='http://schema.org/description' content="{{description}}">
        <meta itemprop='http://schema.org/keywords' content="{{keywords}}">
        <meta itemprop='http://schema.org/license' content="{{license}}">
        <meta itemprop='http://schema.org/datePublished' content="{{datePublished}}">
        <meta itemprop='http://schema.org/dateModified' content="{{dateModified}}">
        <meta itemprop='http://schema.org/spatial' content="{{spatial}}">
        <meta itemprop='http://schema.org/datasetTimeInterval'
              content="{{datasetTimeInterval.startTime}} - {{datasetTimeInterval.endTime}}">
        <meta itemprop='http://schema.org/commentCount' content="{{commentCount}}">
        <div class="card blue-grey accent-1 hoverable">
            <div class="card-content white-text">
                <a class="card-title white-text truncate" title="{{name}}"
                   href="{{pathFor ../routes.page}}">{{name}}</a>
                <div class="red-text text-accent-2">
                    {{#if canAccess this}}
                        <span class="teal-text text-accent-2"><i class="material-icons" title="Access allowed">check</i></span>
                    {{else}}
                        <span><i class="material-icons" title="Access denied">block</i></span>
                    {{/if}}
                    {{#if offline}}
                        <span><i class="material-icons" title="Distribution offline">error</i></span>
                    {{/if}}
                </div>
                <div>
                    {{#each this.distribution}}
                        {{> distribution}}
                    {{/each}}
                </div>
                <!--<p> submitted by {{publisherObj.profile.name}} </p>-->
                <p class="tooltipped" data-position="bottom"
                   data-tooltip="{{description}}">{{{blurb description 50}}}</p>
            </div>
            <div class="card-action">
                <a href="#" class="{{upVotedClass}}" title="Up votes">
                    <i class="material-icons">thumb_up</i>{{votes}}
                </a>
                <a href="#" class="{{downVotedClass}}" title="Down votes">
                    <i class="material-icons">thumb_down</i>{{downvotes}}
                </a>
                <a href="{{pathFor ../routes.page hash='comments'}}" title="Comments">
                    <i class="material-icons">comment</i>{{commentsCount}}
                </a>
                {{#if ownEntry}}
                    <a href="{{pathFor ../routes.edit}}" title="Edit">
                        <i class="material-icons">settings</i>
                    </a>
                {{/if}}
                {{#if showInNewTab}}
                    <a href="{{showInNewTab}}" title="Show in new tab" target="_blank">
                        <i class="material-icons">open_in_new</i>
                    </a>
                {{/if}}
            </div>
        </div>
    </div>
</template>
<template name="distribution">
    <span itemprop="distribution" itemscope itemtype="http://schema.org/DataDownload"
          class="chip {{offlineClass}} lighten-1 white-text">
        <meta itemprop='http://schema.org/fileFormat' content="{{fileFormat}}">
        {{fileFormat}}
    </span>
</template>
