link(href='/css/docs.min.css', rel='stylesheet')
footer(style="padding-bottom: 70px")
  .container.text-center
    ul.bs-docs-footer-links.muted
      li
        a(href='https://github.com/xgfd/web-observatory-issues/issues') Issues
      li 
        |.
      li 
        a(href='https://docs.google.com/document/d/18SYb0jITBpqmMj6y-rbohjhnwKs5W2Rn_3xPFmBHsig/edit?usp=sharing') API Spec
      //li
        a(href='/version/') Version history
    .text-muted &copy; #{moment().format('YYYY')}
script(src='/js/bootstrap.min.js')
script(src='/js/flashmsg.js')
