head
  meta(charset='utf-8')
  title Southampton Web Observatory
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='description', content='A data hub of Southampton Web Observatory')
  meta(name='author', content='')
  // Le styles
  link(href='/css/bootstrap.css', rel='stylesheet')
  link(href='/css/bootstrap-responsive.css', rel='stylesheet')
  link(href='/css/docs.css', rel='stylesheet')
  link(href='/css/custom.css', rel='stylesheet')
  
  // HTML5 shim, for IE6-8 support of HTML5 elements
  //if lt IE 9
    script(src='/js/html5shiv.js')
  // Fav and touch icons
  link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/ico/apple-touch-icon-144-precomposed.png')
  link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/ico/apple-touch-icon-114-precomposed.png')
  link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/ico/apple-touch-icon-72-precomposed.png')
  link(rel='apple-touch-icon-precomposed', href='/ico/apple-touch-icon-57-precomposed.png')
  link(rel='shortcut icon', href='/ico/favicon.png')
  script(src='/js/jquery-1.10.2.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/flashmsg.js')

  if scripts != null
    each s in scripts
      script(src=s)
