.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href='/') Web Observatory beta
        span#location
      .nav-collapse.collapse
        ul.nav
          li.active
            a(href='/') Home
          li
            a(href='#about') About
          li
            a(href='#contact') Contact
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | Quick Menu
              b.caret
            ul.dropdown-menu(role='menu', aria-labelledby='dLabel')
              li
                a(href='/wo/datasets') Datasets
              li
                a(href='/wo/queries') Queries
              li
                a(href='/wo/visualisations') Visualisations
              //
                 
                            <li class="divider"></li>
                            <li class="nav-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
      ul.nav.pull-right
        if user == null                  
          li.active
            a.pull-right(href='/login') Sign in
        else
          li
            a(href="/profile")
              =(user.firstName?user.firstName:user.email)+"'s Profile"
          li 
            a(href="/logout") Logout
      // /.nav-collapse

