nav.navbar.navbar-inverse.navbar-fixed-top
    .container-fluid
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='/') Web Observatory &alpha;
        .navbar-collapse.collapse
            ul.navbar-nav.nav
                li#0
                    a(href='/') Home
                li#1
                    a(href='/wo/dataset') Datasets
                li#2
                    a(href='/wo/visualisation') Apps
                li#3
                    a(href='/wo/project') Projects
                li#4
                    a(href='/howto') Tutorials
            ul.navbar-right.nav.navbar-nav
                if user == null
                    li.active
                        a(href='/login') Sign in!
                else
                    li
                        a(href="/profile")
                            =(user.firstName ? user.firstName : user.email) + "'s Profile"
                    li
                        a(href="/logout") Logout
script(src='/js/jquery-1.10.2.min.js')
script.
  //for nav bar highlight
  $(document).ready(function () {
    var pathname = window.location.pathname;
    $('#0').removeClass('active');
    $('#1').removeClass('active');
    $('#2').removeClass('active');
    $('#3').removeClass('active');

    switch (pathname) {
      case '/':
        $('#0').addClass('active');
        break;
      case '/wo/dataset':
        $('#1').addClass('active');
        break;
      case '/wo/visualisation':
        $('#2').addClass('active');
        break;
      case '/wo/project':
        $('#3').addClass('active');
        break;
      case '/howto':
        $('#4').addClass('active');
        break;
    }
  });

