.banner
  ul
    li(style="background-image:url('/images/sunset.jpg')")
      .inner
        h2 Welcome to Web Observatory
        p  Part of the global 
          a(href='http://wstweb1.ecs.soton.ac.uk/?page_id=969') web observatory
    li(style="background-image:url('/images/subway.jpg')")
      .inner
        h2 Publishing metadata using the schema.org vocabulary
        p Check out 
          a(href='http://logd.tw.rpi.edu/web_observatory') an extended schema.org vocabulary
          |  for details
    li(style="background-image:url('/images/wood.jpg')")
      .inner
        h2 Access control for non-public datasets and applications
        p No one can access your data and applications without your permission.
    li(style="background-image:url('/images/shop.jpg')")
      .inner
        h2 Supporting SQL, SPARQL endpoints and MongoDB
        p They can be queried directly via this site.
