.banner(style="padding-right: 0px; height: 63px;")
    ul
        li
            img(src="/images/banner1.png")
            .inner
                .primary-bg
                    h2 Building analytics on innovation data
                    //p  Part of the global
                        a(href='http://wstweb1.ecs.soton.ac.uk/?page_id=969') web observatory network
        li
            img(src='/images/banner2.png')
            .inner
                .primary-bg
                    h2 Publishing metadata using the schema.org vocabulary
                    //p Check out
                        a(href='http://logd.tw.rpi.edu/web_observatory') an extended schema.org vocabulary
                        |  for details
        li
            img(src='/images/banner3.png')
            .inner
                .primary-bg
                    h2 Access control for non-public datasets and applications
                    //p No one can access your data and applications without your permission.
        li
            img(src='/images/banner4.png')
            .inner
                .primary-bg
                    h2 Supporting SQL, SPARQL endpoints and MongoDB
                    //p They can be queried directly via this site. RESTful APIs are comming soon.
