.banner
  ul
    li(style="background-image:url('/images/suwo.jpg')")
      .inner
        h2 Welcome to the Southampton University Web Observatory
        //h4 It offers 
        //h4 Semantic Catalogues to globally locate existing data sets 
        //h4 Collection Systems to gather new global data sets
        //h4 Analytics Tools and methodologies to analyse these data
    li(style="background-image:url('/images/wood.jpg')")
      .inner
        h2 Publishing metadata using the schema.org vocabulary
        p Check out 
          a(href='http://logd.tw.rpi.edu/web_observatory') an extended schema.org vocabulary
          |  for details
    li(style="background-image:url('/images/wood.jpg')")
      .inner
        h2 Access control for non-public datasets and applications
        | No one can access your data and applications without your permission.
    li(style="background-image:url('/images/wood.jpg')")
      .inner
        h2 Supporting SQL, SPARQL endpoints and MongoDB
        | They can be queried directly via this site. RESTful APIs are comming soon.
