form#queryform(action='/endpoint/'+eid+'/amqp' method='get' target='_blank')
  .form-group
    input.form-control#querytext(name='query' type='text' placeholder='Inpute RabbitMQ exchange name')
  .form-group
    label.control-label
      | Results:
    select.form-control#selectoutput(name='format')
      option(value='display') Browse
  .btn-group
    button#send.btn.btn-primary Submit
    button#reset.btn.btn-warning Reset
