doctype html
html(lang='en')
  include ../includes/head
  body
    include ../includes/nav
    #wrap
      .container
        .row
          include ../includes/flash-banner
        .row
          form.form-horizontal.col-sm-10#queryform(action='/endpoint/'+dsID+'/mongodb', method='get')
            .form-group
              .col-sm-offset-5
                h2 MongoDB
            .form-group
              label.col-sm-5.control-label(for='modname') Select a model name
              .col-sm-2
                select.form-control(name='modname')
                  for val in tags
                    if val.indexOf('system.indexes') === -1
                      option(value=val)= val
            .form-group
              .col-sm-offset-5.col-sm-5
                textarea.form-control#querytext(name='query' rows='5' placeholder='Double-quote your key/value pairs, e.g. {"key":"value"}')
            .form-group
              label.control-label.col-sm-5
                | Results:
              .col-sm-2
                select.form-control#selectoutput(name='format')
                  option(value='display') Browse
                  option(value='application/sparql-results+json') JSON
            .form-group
              .col-sm-offset-5.col-sm-5
                .btn-group
                  button#send.btn.btn-primary Submit
                  button#reset.btn.btn-warning Reset
      #push
    include ../includes/footer
    script(src='/js/jquery-ui-1.10.3.min.js')
    script.
      tags = !{JSON.stringify(tags)};
    //script(src='/js/mongodb.jade.js')
