form#queryform(action='/endpoint/' + eid + '/mongodb' method='get' target='_blank')
    .form-group
        if tags
            label.control-label(for='modname') Select a model name
            select.form-control(name='modname')
                for val in tags
                    if val.indexOf('system.') !== 0
                        option(value=val)= val
        else
            label.control-label(for='modname') Collection names not available, type a model name
            input.form-control(name='modname')
    .form-group
        textarea.form-control#querytext(name='query' rows='5' placeholder='Double-quote your key/value pairs, e.g. {"key":"value"}')
    .form-group
        label.control-label
            | Limit:
        select.form-control(name='limit')
            option 1000
            option 2000
            option 3000
            option 5000
            option 8000
            option 13000
            option 21000
            option 34000
            option 55000
            option 89000
    .form-group
        label.control-label
            | Skip:
        select.form-control(name='skip')
            option 0
            option 1000
            option 2000
            option 3000
            option 5000
            option 8000
            option 13000
            option 21000
            option 34000
            option 55000
    //.form-group
        label.control-label
            | Results:
        select.form-control#selectoutput(name='format')
            option(value='display') Browse
            option(value='application/sparql-results+json') JSON
    .btn-group
        button#send.btn.btn-primary Submit
        button#reset.btn.btn-warning Reset
script(src='/js/jquery-ui-1.10.3.min.js')
script.
    tags = !{JSON.stringify(tags)};
    //script(src='/js/mongodb.jade.js')
