doctype html
html(lang='en')
  include ../includes/head
  body
    include ../includes/nav
    #wrap
      .container
        .row
          include ../includes/flash-banner
        .row
          form.form-horizontal.col-sm-5#queryform(action='/endpoint/'+dsID+'/mongodb', method='get')
            .form-group
              h2 MongoDB
            .form-group
              label.col-md-4.control-label(for='basedOn') Related dataset
              .col-md-3
                .ui-widget
                  input#modname.form-control.input-xlarge(name='modname' type='text' required='')
            .form-group
                textarea.form-control#querytext(rows='5' placeholder='Input your query')
            .form-group
              label.control-label.col-sm-2
                | Results:
              .col-sm-3
                select.form-control#selectoutput(name='format')
                  option(value='display') Browse
                  option(value='application/sparql-results+json') JSON
            .form-group
              .btn-group
                button#send.btn.btn-primary Submit
                button#reset.btn.btn-warning Reset
      #push
    include ../includes/footer
    script(src='/js/jquery-ui-1.10.3.min.js')
    script(src='/js/mongodb.jade.js')
