form#queryform(action='/endpoint/'+eid+'/sparql', method='get' target='_blank')
  .form-group
    pre#prefixestext.pre-scrollable
  .form-group
      label
        | Query:
      input.form-control.hide(name='query')
      textarea.form-control#querytext(rows='5')
  .form-group
    label
      | Results:
    select.form-control#selectoutput(name='format')
      option(value='display') Browse
      option(value='application/sparql-results+json') JSON
      option(value='text/csv') CSV
      option(value='text/tab-separated-values') TSV
      option(value='application/sparql-results+xml') XML
  .btn-group
    button#send.btn.btn-primary Submit
    button#reset.btn.btn-warning Reset
script(src='/js/sparql.jade.js')
script(src='/js/sparql.js')
