doctype html
html(lang='en')
  include ../includes/head
  body
    include ../includes/nav
    #wrap
      .container
        div
          Mongodb query is under development...
      #push
    include ../includes/footer
    script
