form#queryform(action='/endpoint/'+eid+'/sql' method='get' target='_blank')
  .form-group
    textarea.form-control#querytext(name='query' rows='5' placeholder='Inpute your SQL query')
  .form-group
    label.control-label
      | Results:
    select.form-control#selectoutput(name='format')
      option(value='display') Browse
        //option(value='application/sparql-results+json') JSON
  .btn-group
    button#send.btn.btn-primary Submit
    button#reset.btn.btn-warning Reset
