extends ../base

block content
    .col-md-4
    #display.col-md-4
    .col-md-4

block footer
    script(src='/socket.io/socket.io.js')
    script.
        $(document).ready(function() {
        var socket = io.connect(window.location.origin);
        socket.on('chunk', function (data) {
                var liner = data;
                $('#display').append(liner);
                console.log(liner);
            });
        });
