@import "variables";
@import "form";

.orion-bootstrap-admin {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-size: 14px;
    .sidebar {
        text-transform: uppercase;
        letter-spacing: 2px;
        .sidebar-brand {
            font-weight: 700;
        }
        a {
            color: $fontcolor-invert !important;
        }
        background-color: $bg-darkest;
    }
    .content {
        background-color: $bg-darker;
        .dropdown {
            a:hover {
                color: $fontcolor-medium-light;
            }
            &.open a.dropdown-toggle {
                background-color: #303030;
            }
        }
        .dropdown-menu {
            li {
                a:hover, &.active a {
                    background-color: $bg-dark;
                    color: $fontcolor-medium-light;
                }
            }
        }
        .navbar-inverse {
            background-color: $bg-dark-max;
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        }
        .well {
            padding: 0;
            margin: 0;
            background: $bg-darker;
        }
        .btn-default,.btn-primary,.btn-danger,.btn-success,.btn-info,.btn-warning {
            @extend .btn-lgr-str;
        }
        form {
            @extend .form-dark;
        }
        .index-table {
            tbody {
                tr:hover {
                    background: $bg-dark;
                }
            }
        }

        .dt-bootstrap {
            @extend .form-dark;
        }
        .pagination {
            li {
                a {
                    background-color: $bg-medium-dark;
                }
                a:hover {
                    background-color: $bg-dark;
                }
                &.disabled a {
                    background-color: $bg-darkest;
                }
                &.active a {
                    background-color: $bg-dark;
                }
            }


        }
    }
}