/* White Skin */
/* Blue-grey */
.fontcolor-regular, .fontcolor-regular a {
  color: #fff; }

.fontcolor-invert, .fontcolor-invert a {
  color: #fff; }

.fontcolor-medium-light, .fontcolor-medium-light a {
  color: #eaeaea;
  opacity: .5; }

.hovercolor, .hovercolor a {
  color: #42DCA3 !important; }

.accent-color, .accent-color a {
  color: #007EA7 !important; }

.accent-color a:hover {
  color: #42DCA3 !important; }

/*------------------------------------------------------------------
[Typography]
*/
/* Headings Fonts variables */
/* Heading font one */
.font-accident-one-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal; }

.font-accident-one-normal {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal; }

/* Heading font two */
.font-accident-two-normal {
  font-family: "Dosis", sans-serif;
  font-weight: 200; }

.font-accident-two-bold {
  font-family: "Dosis", sans-serif;
  font-weight: 500; }

.font-accident-two-extrabold {
  font-family: "Dosis", sans-serif;
  font-weight: 700; }

/* Regular font */
.font-regular-light {
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-style: normal; }

.font-regular-normal {
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-style: normal; }

.font-regular-bold {
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  font-style: normal; }

.selectize-control.plugin-remove_button [data-value] {
  position: relative;
  padding-right: 24px !important; }
.selectize-control.plugin-remove_button [data-value] .remove {
  z-index: 1;
  /* fixes ie bug (see #392) */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 17px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  color: inherit;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  padding: 2px 0 0 0;
  border-left: 1px solid #131313 !important;
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
.selectize-control.plugin-remove_button [data-value] .remove:hover {
  background: rgba(0, 0, 0, 0.05); }
.selectize-control.plugin-remove_button [data-value].active .remove {
  border-left-color: #131313; }
.selectize-control.plugin-remove_button .disabled [data-value] .remove:hover {
  background: none; }
.selectize-control.plugin-remove_button .disabled [data-value] .remove {
  border-left-color: #606060; }

.selectize-control {
  position: relative; }

.selectize-dropdown, .selectize-input, .selectize-input input {
  color: #999;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  -webkit-font-smoothing: inherit; }

.selectize-input, .selectize-control.single .selectize-input.input-active {
  border: 1px solid #131313 !important;
  background: #202020 !important;
  cursor: text;
  display: inline-block; }

.selectize-input {
  border: 1px solid #131313;
  padding: 15px 15px;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
  .selectize-control.multi .selectize-input.has-items {
    padding: 13px 15px 10px; }
  .selectize-input.full {
    background-color: #202020; }
  .selectize-input.disabled, .selectize-input.disabled * {
    cursor: default !important; }
  .selectize-input.focus {
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15); }
  .selectize-input.dropdown-active {
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0; }
  .selectize-input > * {
    vertical-align: baseline;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline; }
  .selectize-control.multi .selectize-input > div {
    cursor: pointer;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0 3px 3px 0;
    padding: 2px 6px;
    background: #181818 !important;
    color: #999;
    border: 0 solid #131313 !important; }
    .selectize-control.multi .selectize-input > div.active {
      background: #e8e8e8;
      color: #999;
      border: 0 solid #131313; }
  .selectize-control.multi .selectize-input.disabled > div, .selectize-control.multi .selectize-input.disabled > div.active {
    color: #e6e6e6;
    background: #656565;
    border: 0 solid #606060; }
  .selectize-input > input {
    display: inline-block !important;
    padding: 0 !important;
    min-height: 0 !important;
    max-height: none !important;
    max-width: 100% !important;
    margin: 0 2px 0 0 !important;
    text-indent: 0 !important;
    border: 0 none !important;
    background: none !important;
    line-height: inherit !important;
    -webkit-user-select: auto !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }
    .selectize-input > input::-ms-clear {
      display: none; }
    .selectize-input > input:focus {
      outline: none !important; }

.selectize-input::after {
  content: ' ';
  display: block;
  clear: left; }

.selectize-input.dropdown-active::before {
  content: ' ';
  display: block;
  position: absolute;
  background: #131313;
  height: 1px;
  bottom: 0;
  left: 0;
  right: 0; }

.selectize-dropdown {
  position: absolute;
  z-index: 10;
  border: 1px solid #131313;
  background: #202020;
  margin: -1px 0 0 0;
  border-top: 0 none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px; }
  .selectize-dropdown [data-selectable] {
    cursor: pointer;
    overflow: hidden; }
    .selectize-dropdown [data-selectable] .highlight {
      background: rgba(66, 220, 163, 0.2);
      -webkit-border-radius: 1px;
      -moz-border-radius: 1px;
      border-radius: 1px; }
  .selectize-dropdown [data-selectable], .selectize-dropdown .optgroup-header {
    padding: 5px 15px; }
  .selectize-dropdown .optgroup:first-child .optgroup-header {
    border-top: 0 none; }
  .selectize-dropdown .optgroup-header {
    color: #999;
    background: #202020;
    cursor: default; }
  .selectize-dropdown .active {
    background-color: #181818;
    color: #42DCA3; }
    .selectize-dropdown .active.create {
      color: #42DCA3; }
  .selectize-dropdown .create {
    color: rgba(153, 153, 153, 0.5); }
  .selectize-dropdown.single {
    border: 1px solid #131313 !important; }

.selectize-dropdown-content {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 2em;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px; }

.selectize-control.single .selectize-input {
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }
  .selectize-control.single .selectize-input, .selectize-control.single .selectize-input input {
    cursor: pointer; }
  .selectize-control.single .selectize-input.input-active, .selectize-control.single .selectize-input.input-active input {
    cursor: text; }
  .selectize-control.single .selectize-input:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #999 transparent transparent transparent; }
  .selectize-control.single .selectize-input.dropdown-active:after {
    margin-top: -4px;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #999 transparent; }

.selectize-control.rtl.single .selectize-input:after {
  left: 15px;
  right: auto; }
.selectize-control.rtl .selectize-input > input {
  margin: 0 4px 0 -2px !important; }

.selectize-control .selectize-input.disabled {
  opacity: 0.5;
  background-color: #fafafa; }

/*# sourceMappingURL=selectize.css.map */
