@import "variables";
@import "mixins";

body {
    width: 100%;
    height: 100%;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: white;
    background-color: black;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
    @media(min-width:768px) {
        margin: 0 0 10px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: $primary;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    &:hover,
    &:focus {
        text-decoration: none;
        color: darken($primary,20%);
    }
}

.well {
    background-color: #1d9b6c;
}

.light {
    font-weight: 300;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(white, 0.3);
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: black;
    .navbar-header {
        width: 100%;
    }
    .navbar-toggle {
        padding: 4px 6px;
        font-size: 16px;
        color: white;
        &:focus,
        &:active {
            outline: none;
        }
    }
    .navbar-menu {
      margin-left: 0;
    }
    .navbar-brand {
        position: relative;
        margin-left: -195px !important;
        left: 50%;
        width: 380px;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.8em;
        letter-spacing: .2em;
        font-weight: 400;
        &:focus {
            outline: none;
        }
    }
    a {
        color: white;
    }
    .nav {
        li {
            a {
                -webkit-transition: background .3s ease-in-out;
                -moz-transition: background .3s ease-in-out;
                transition: background .3s ease-in-out;
                &:hover {
                    color: rgba(white, 0.8);
                    outline: none;
                    background-color: transparent;
                }
                &:focus,
                &:active {
                    outline: none;
                    background-color: transparent;
                }
            }
            &.active {
                outline: none;
                a {
                    background-color: rgba(white, 0.3);
                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
    @media(min-width:768px) {
        padding: 20px 0;
        border-bottom: none;
        letter-spacing: 1px;
        background: transparent;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        &.top-nav-collapse {
            padding: 0;
            background: black;
            border-bottom: 1px solid rgba(white, 0.3);
        }
        .navbar-menu {
          margin-left: -195px;
        }
    }
}

.force-nav-collapse {
    padding: 0;
    background: black;
    border-bottom: 1px solid rgba(white, 0.3);
}

.page {
    padding: 20px 0;
    .tab-pane {
        padding: 20px 0;
    }
}

.page-intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: white;
    background: url(tele2.jpg) no-repeat bottom center scroll;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    .intro-body {
        display: table-cell;
        vertical-align: middle;
        .grid-item {
            width:100%;
            .card-title {
                font-size: 3em;
                font-weight: 300;
            }
            .white-text {
                color: #fff;
            }
            p {
                font-size: 1.5em;
            }
        }

    }
}

.grid-item {
    padding: 10px;
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: white;
    background: url(starmap-bg.jpg) no-repeat bottom center scroll;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    .intro-body {
        display: table-cell;
        vertical-align: middle;
        .intro-text {
            font-size: 3em;
            font-weight: 300;
        }
    }
    @media(min-width:768px) {
        height: 100%;
        padding: 0;
        .intro-body {
            .intro-text {
                font-size: 3em;
                font-weight: 300;
            }
        }
    }
}

.input-search {
    display: block;
    border-radius: 3px;
    width: 280px;
    font-size: 20px;
    margin: 0 auto 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    a {
        cursor: text;
    }
    a:focus{
        outline: none;
    }
    .search-field {
        display: inline-block;
        background-color: transparent;
        border: 0 solid;
        height: 1em;
        box-shadow: none;
        width: 230px;
    }
    .icon-search {
        color: #666;
    }
}
//.search-field::-webkit-input-placeholder { color: #666; }
//.search-field:-moz-placeholder { color: #666; }
//.search-field::-moz-placeholder { color: #666;  }
//.search-field:-ms-input-placeholder { color: #666;  }

.search-modal {
    .modal-content {
        font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
        background-color: #000;
        padding: 20px 0;
        min-height: 100%;
        border: 0;
        border-radius: 0;
        text-align: center;
        background-clip: border-box;
        -webkit-box-shadow: none;
        box-shadow: none;
        input:focus {
            outline: none;
        }
        .align-box {
            padding-bottom: 200px;
        }
        .search-header {
            text-transform: uppercase;
            font-size: 1.2em;
            letter-spacing: .2em;
            font-weight: 300;
            margin-bottom: 10px;
        }
        .input-symbol {
            font-size: 3em;
            font-weight: 300;
            .icon-search {
                color: #aaa;
            }
            .search-box-expand {
                background: transparent;
                border: 0 solid;
                box-shadow: none;
            }
        }
    }

    .close-modal {
        z-index: 9;
        opacity: 1;
        position: absolute;
        top: 25px;
        right: 25px;
        width: 75px;
        height: 50px;
        background-color: transparent;
        cursor: pointer;
        .lr {
            z-index: 1051;
            width: 1px;
            height: 50px;
            margin-left: 35px;
            background-color: #ccc;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            .rl {
                z-index: 1052;
                width: 1px;
                height: 50px;
                background-color: #fff;
                -webkit-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                transform: rotate(90deg);
            }
        }
    }


    .close-modal:hover {
        opacity: 0.5;
    }

    .modal-backdrop {
        display: none;
        opacity: 0;
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid white;
    border-radius: 100% !important;
    font-size: 40px;
    color: white;
    background: transparent;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    &:hover,
    &:focus {
        outline: none;
        color: white;
        background: rgba(white, 0.1);
    }
    i.animated {
        -webkit-transition-property: -webkit-transform;
        -webkit-transition-duration: 1s;
        -moz-transition-property: -moz-transform;
        -moz-transition-duration: 1s;
    }
    &:hover {
        i.animated {
            -webkit-animation-name: pulse;
            -moz-animation-name: pulse;
            -webkit-animation-duration: 1.5s;
            -moz-animation-duration: 1.5s;
            -webkit-animation-iteration-count: infinite;
            -moz-animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
        }
    }
}

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    from {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 120px;
}

.grid-item {
    /*float: left;*/
    width: 250px;
    /*height: 300px;*/
    display: inline-block;
}

.download-section {
    width: 100%;
    padding: 50px 0;
    color: white;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 120px;
    }

    .download-section {
        padding: 100px 0;
    }

    #map {
        height: 400px;
        margin-top: 250px;
    }
}

.btn {
    text-transform: uppercase;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-radius: 0;
}

.btn-default {
    border: 1px solid $primary;
    color: $primary;
    background-color: transparent;
    &:hover,
    &:focus {
        border: 1px solid $primary;
        outline: none;
        color: black;
        background-color: $primary;
    }
}

ul.banner-social-buttons {
    margin-top: 0;
    @media(max-width:1199px) {
        margin-top: 15px;
    }
    @media(max-width:767px) {
        li {
            display: block;
            margin-bottom: 20px;
            padding: 0;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

footer {
    padding: 50px 0;
    p {
        margin: 0;
    }
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(white, 0.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(white, 0.2);
}



img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    -webkit-tap-highlight-color: rgba(white, 0.2);
}

.nav-pills-custom {
    padding-bottom: 20px;
    li {
        a {
            background-color: #000 !important;
            text-transform: uppercase;
            font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
            color: $primary !important;
            &:hover {
                color: #1d9b6c !important;
            }
        }
        &.active {
            background-color: #000;
            border-bottom: 1px solid $primary;
        }
    }


}

.pills-table {
    display: table;
    margin: 0 auto;
}