<template name="footer">
    <!-- footer -->
    <footer>
        <div id="footer-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="infoblock">
                            <h4 class="font-accident-two-bold uppercase">About</h4>
                            <p>A Web Observatory is a system which gathers and links to data on the Web in order to answer questions about the Web, the users of the Web and the way that each affects the other.</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="infoblock">
                            <h4 class="font-accident-two-bold uppercase">Get Involved</h4>
                            <ul class="footer-links">
                                <li><a href="http://webscience.org/web-observatory/list-of-web-observatories/">WSTNet</a></li>
                                <li><a href="http://github.com/webobservatory">API</a></li>
                                <li><a href="http://github.com/webobservatory">Setup</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="infoblock">
                            <h4 class="font-accident-two-bold uppercase">Statistics</h4>
                            <p>Apps: 112<br>
                            Datasets: 543</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="infoblock">
                            <h4 class="font-accident-two-bold uppercase">Media</h4>
                            <ul class="footer-media">
                                <li><i class="fa fa-twitter-square"></i></li>
                                <li><i class="fa fa-facebook-square"></i></li>
                                <li><i class="fa fa-github-square"></i></li>
                                <li><i class="fa fa-pinterest-square"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- /footer -->
</template>