<template name="footer">
    <!-- footer -->
    <footer>
        <div id="footer-wrapper">
            <div class="container">
                <div class="row">
                    <div class="{{#if _isHome}}col-sm-3{{else}}col-sm-4{{/if}}">
                        <div class="infoblock">
                            <h4 class="font-accident-two-bold uppercase">About</h4>
                            <ul class="footer-links">
                                <li><a href="http://webobservatory.org/">Web Observatory</a></li>
                                <li><a href="http://index.webobservatory.org/">Active Observatories</a></li>
                                <li><a href="mailto:hello@webobservatory.org">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="{{#if _isHome}}col-sm-3{{else}}col-sm-4{{/if}}">
                        <div class="infoblock">
                            <h4 class="font-accident-two-bold uppercase">Get Involved</h4>
                            <ul class="footer-links">
                                <li><a href="http://webscience.org/web-observatory/list-of-web-observatories/">WSTNet</a></li>
                                <li><a href="https://github.com/webobservatory/wo-api-nodejs">API</a></li>
                                <li><a href="http://webobservatory.org/">Setup</a></li>
                            </ul>
                        </div>
                    </div>
                    {{#if _isHome}}
                    <div class="col-sm-3">
                        <div class="infoblock">
                            <h4 class="font-accident-two-bold uppercase">Statistics</h4>
                            <p>
                                <h3>{{getPublishedCount 'app'}} <small>Apps</small></h3>
                                <h3>{{getPublishedCount 'dataset'}} <small>Datasets</small></h3>
                                <h3>{{getPublishedCount 'group'}} <small>Projects</small></h3>
                            </p>
                        </div>
                    </div>
                    {{/if}}
                    <div class="{{#if _isHome}}col-sm-3{{else}}col-sm-4{{/if}}">
                        <div class="infoblock">
                            <h4 class="font-accident-two-bold uppercase">Media</h4>
                            <ul class="footer-media">
                                <li><a href="https://twitter.com/wo_team"><i class="fa fa-twitter-square"></i></a></li>
                                <li><a href="https://github.com/webobservatory"><i class="fa fa-github-square"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- /footer -->
</template>