<template name="notifications">
    {{#if notificationCount}}
        <a class="dropdown-toggle" href='#' data-toggle="dropdown">
            <i class="fa fa-bell-o"></i>
            <!--Notifications-->
                <span class="badge">{{notificationCount}}</span>
        </a>
        <ul id='dropdown1' class='dropdown-menu'>
            {{#if notificationCount}}
                {{#each notifications}}
                    {{> notificationItem}}
                {{/each}}
            {{else}}
                <li><span>No Notifications</span></li>
            {{/if}}
        </ul>
    {{/if}}
</template>

<template name="notificationItem">
    <li>
        <div class="card">
            <div class="card-content teal-text">
                {{{message}}}
            </div>
            {{#if actions}}
                <div class="card-action">
                    {{#each actions}}
                        <a class="amber-text text-accent-2" href="#" notification-action="{{this}}">{{this}}</a>
                    {{/each}}
                </div>
            {{/if}}
        </div>
    </li>
</template>