<template name="notifications">
    <a class="dropdown-button" href='#!' data-activates='dropdown1'>
        <!--Notifications-->
        {{#if notificationCount}}
            <i class="material-icons left">announcement</i>
            Notifications
            <span class="badge orange lighten-2 white-text">{{notificationCount}}</span>
        {{/if}}
    </a>
    <ul id='dropdown1' class='dropdown-content'>
        {{#if notificationCount}}
            {{#each notifications}}
                {{> notificationItem}}
            {{/each}}
        {{else}}
            <li><span>No Notifications</span></li>
        {{/if}}
    </ul>
</template>

<template name="notificationItem">
    <li>
        <div class="card">
            <div class="card-content teal-text">
                {{{message}}}
            </div>
            {{#if actions}}
                <div class="card-action">
                    {{#each actions}}
                        <a class="amber-text text-accent-2" href="#" notification-action="{{this}}">{{this}}</a>
                    {{/each}}
                </div>
            {{/if}}
        </div>
    </li>
</template>