<head>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400' rel='stylesheet' type='text/css'>
    <title>Web Observatory</title>
</head>

<template name="layout">
    <!--<head>-->
        <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
        <!--<meta itemprop='name' content='Web Observatory'>-->
    <!--</head>-->
    <!--<div id="content">-->
        <!--{{> nav}}-->
        <!--{{> errors}}-->
        <!--<div class="container" id="main">-->
        <!--</div>-->
    <!--</div>-->



    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <!--<nav class="navbar navbar-custom navbar-fixed-top {{#unless this._isHome}}force-nav-collapse{{/unless}}" role="navigation">-->
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand page-scroll" href="{{#if this._isHome}}#page-top{{else}}/{{/if}}">
                    <span class="light">Web</span> Observatory
                </a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-main-collapse">
                    <ul class="nav navbar-nav navbar-left navbar-menu">
                        <li><a id="open-button" href="#"><i class="fa fa-bars"></i></a></li>
                        <li><a href="#search" data-toggle="modal" data-target="#search-overlay"><i class="fa fa-search"></i></a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        {{#if this._isHome}}
                        <li>
                            <a class="page-scroll" href="#top">Top</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#recent">Recent</a>
                        </li>
                        {{/if}}
                        {{> user_nav}}
                    </ul>
                </div>
            </div>

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="content-wrap">
        {{> yield}}
    </div>

    <!-- Off-canvas menu -->
    {{> menu}}
    <!-- / Off-canvas menu -->

    <div class="search-modal modal" id="search-overlay" tabindex="-1" role="dialog" aria-labelledby="Search">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="modal-content">
                            <div class="align-box"></div>
                            <div class="search-header">Search Observatory</div>
                            <div class="input-symbol">
                                <span class="icon-search"><i class="fa fa-search"></i></span>
                                <input id="search-field" class="search-box-expand" type="text" name="search" style="width: 30px;" autofocus>
                            </div>
                            <div class="row">
                                <!--{{getPublishedCount 'dataset'}}-->
                                <div class="col-lg-6" id="dataset-search">
                                    <div class="row">
                                        <h4>Datasets</h4>
                                    </div>
                                    {{> searchEntryList dataset}}
                                </div>
                                <div class="col-lg-6" id="app-search">
                                    <div class="row">
                                        <h4>Apps</h4>
                                    </div>
                                    {{> searchEntryList app}}
                                </div>
                            </div>
                            <!--<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.modal -->
</template>