<template name="entryPage">
    {{>entryItem entry}}
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a href="#metadata">Metadata</a></li>
                <li class="tab col s3"><a href="#comments">Comments</a></li>
                {{#if canAccess entry}}
                    {{#each entry.distribution}}
                        <li class="tab col s3"><a href="{{appendHash _id}}">{{fileFormat}}</a></li>
                    {{/each}}
                {{else}}
                    <li class="tab col s3"><a href="#request_access">Request access</a></li>
                {{/if}}
            </ul>
        </div>

        <div id="metadata" class="col s12">
            {{> quickForm collection=category id="metadataForm" type="readonly" doc=entry omitFields="comments, commentsCount, upvoters, votes, distribution.$.url, distribution.$.file, distribution.$.username, distribution.$.pass"}}
        </div>

        <div id="comments" class="col s12">
            <ul id="comments" class="comments">
                {{#each comments}}
                    {{> commentItem}}
                {{/each}}
            </ul>

            {{#if currentUser}}
                {{> commentSubmit}}
            {{else}}
                <p>Please log in to leave a comment.</p>
            {{/if}}
        </div>

        {{#if canAccess entry}}
            {{#each entry.distribution}}
                {{>Template.dynamic template=fileFormat data=distData}}
            {{/each}}
        {{else}}
            <div id="request_access">
                {{>requestFrom}}
            </div>
        {{/if}}
    </div>
</template>
