<template name="entryItem">
    <div class="grid-item">
        <div class="card blue-grey accent-1 z-depth-2">
            <div class="card-content white-text">
                <a class="card-title white-text" title="{{name}}"
                   href="{{pathFor ../routes.page}}">{{{blurb name 15}}}</a>
                <div class="red-text text-accent-2">
                    {{#if canAccess this}}
                        <span class="teal-text text-accent-2"><i class="material-icons" title="Access allowed">visibility</i></span>
                    {{else}}
                        <span><i class="material-icons" title="Access denied">visibility_off</i></span>
                    {{/if}}
                    {{#if offline}}
                        <span><i class="material-icons" title="Distribution offline">error</i></span>
                    {{/if}}
                </div>
                <div>
                    {{#each this.distribution}}
                        {{> distribution}}
                    {{/each}}
                </div>
                <!--<p> submitted by {{publisher.profile.name}} </p>-->
                <p class="tooltipped" data-position="bottom" data-delay="50"
                   data-tooltip="{{description}}">{{{blurb description 50}}}</p>
            </div>
            <div class="card-action">
                <a href="#" class="upvote {{upvotedClass}}" title="Votes">
                    <i class="material-icons">thumb_up</i>{{votes}}
                </a>
                <a href="{{pathFor ../routes.page hash='comments'}}" title="Comments">
                    <i class="material-icons">comment</i>{{commentsCount}}
                </a>
                {{#if ownEntry}}
                    <a href="{{pathFor ../routes.edit}}" title="Edit">
                        <i class="material-icons">settings</i>
                    </a>
                {{/if}}
                {{#if showInNewTab}}
                    <a href="{{showInNewTab}}" title="Show in new tab" target="_blank">
                        <i class="material-icons">open_in_new</i>
                    </a>
                {{/if}}
            </div>
        </div>
    </div>
</template>
<template name="distribution">
    <span class="chip {{offlineClass}} lighten-1 white-text">
        {{this.fileFormat}}
    </span>
</template>
