<template name="entryList">
    <div class="row">
        <h4></h4>
        <div class="row js-isotope"
             data-isotope-options='{ "itemSelector": ".grid-item", "layoutMode": "fitRows" }'>
            {{#each entries}}
                {{> entryItem}}
            {{/each}}
        </div>
        {{#if nextPath}}
            <a class="load-more" href="{{nextPath}}">Load more</a>
        {{else}}
            {{#unless ready}}
                {{> spinner}}
            {{/unless}}
        {{/if}}
    </div>
</template>
