<template name="notifications">
    <a class="dropdown-button" href='#!' data-activates='dropdown1'>
        <!--Notifications-->
        {{#if notificationCount}}
            <i class="material-icons left">announcement</i>
            Notification
            <!--<span class="badge">{{notificationCount}}</span>-->
        {{/if}}
    </a>
    <ul id='dropdown1' class='dropdown-content'>
        {{#if notificationCount}}
            {{#each notifications}}
                {{> notificationItem}}
            {{/each}}
        {{else}}
            <li><span>No Notifications</span></li>
        {{/if}}
    </ul>
</template>

<template name="notificationItem">
    <li>
        <a href="{{notificationPostPath}}">
            <strong>{{commenterName}}</strong> commented on your post
        </a>
    </li>
</template>