doctype html
html(lang='en')
  include includes/head
  body
    #nav
    #wrap
      .container
        .row
          pre#prefixestext.well.
            \n             
        .row
          textarea#querytext.span5(name='query', rows='5')
            | INSERT DATA &lcub;GRAPH
            http:(wo.ecs.soton.ac.uk='', test='')
              | &lcub;
              | &period;&period;&period;
              | &rcub; &rcub;
          br
          form#queryform(action='http://spr-001.ecs.soton.ac.uk:8000/update/', method='post')
            input#query(type='hidden', name='update')
          button.btn.btn-primary(type='button', onclick='submitQuery()') Go
      #push
    #footer
    script(src='../assets/js/jquery-1.10.2.js')
    script(src='../assets/js/bootstrap.min.js')
    script(src='../assets/js/jquery.dataTables.js')
    script(src='../assets/js/underscore-min.js')
    script
      var namespaces = {
      'http://www.w3.org/2002/07/owl#': 'owl',
      'http://www.w3.org/2001/XMLSchema#': 'xsd',
      'http://www.w3.org/2000/01/rdf-schema#': 'rdfs',
      'http://www.w3.org/1999/02/22-rdf-syntax-ns#': 'rdf',
      'http://xmlns.com/foaf/0.1/': 'foaf',
      'http://purl.org/dc/elements/1.1/': 'dc',
      'http://dbpedia.org/resource/': '',
      'http://dbpedia.org/property/': 'dbpedia2',
      'http://dbpedia.org/': 'dbpedia',
      'http://www.w3.org/2004/02/skos/core#': 'skos'
      };
      function toPrefixes(namespaces) {
      var result = '';
      for (var uri in namespaces) {
      result += 'PREFIX ' + namespaces[uri] + ': <' + uri + '>\\n';
      }
      return result;
      }
      function setPrefixesText(prefixes) {
      document.getElementById('prefixestext').appendChild(
      document.createTextNode(prefixes));
      }
      var domain="http://spr-001.ecs.soton.ac.uk:8000/";
      function submitQuery() {
      var qstr = toPrefixes(namespaces) + $('#querytext').val();
      $("#query").val(qstr);
      $("#queryform").submit();
      }
      function success() {
      alert("data added");
      }
      setPrefixesText(toPrefixes(namespaces));
      $("#nav").load("nav.html");
      $("#footer").load("footer.html");
