extends main

block jumbotron
block content
    form#adddata.form-horizontal(action='/wo/project/' method='post')
        // Text input
        .form-group
            label.col-md-4.control-label(for='name') Title
            .col-md-3
                input.form-control.input-xlarge(name='name' type='text', placeholder='Title of the project', required='')
        .form-group
            label.col-md-4.control-label(for='url') Homepage
            .col-md-3
                input.form-control.input-xlarge(name='url' type='text', placeholder='Project Homepage URL', required='')
                //p.help-block= (type === 'dataset' ? 'Leave this field blank if you want to upload a file' : 'If you want us to host your application, leave this empty and upload a zip file containing an index.html file below')
        .form-group
            label.col-md-4.control-label(for='youtube') YouTube
            .col-md-3
                input.form-control.input-xlarge(name='youtube' type='text', placeholder='Project YouTube Video URL', required='')
                //p.help-block Related YouTube Video
        .form-group
            label.col-md-4.control-label(for='git') Project Github 
            .col-md-3
                input.form-control.input-xlarge(name='git' type='text', placeholder='https://github.com/:user/:reponame')
                p.help-block The Github url of this project
        // Textarea
        .form-group
            label.col-md-4.control-label(for='des') Description
            .col-md-3
                textarea.form-control(name='des' placeholder='')
                p.help-block A brief description of your project


        .form-group
            label.col-md-4.control-label(for='publication') Publications
            .col-md-2
                input.form-control(name='publication' placeholder='Publication title')
            .col-md-2
                input.form-control(name='publicationurl' placeholder='URL')
        .form-group
            label.col-md-4.control-label
            .col-md-2
                input.form-control(name='publication' placeholder='Publication title')
            .col-md-2                
                input.form-control(name='publicationurl' placeholder='URL')

           
        .form-group
            label.col-md-4.control-label(for='relatedDataset') Related dataset
            .col-md-3
                .ui-widget
                    input#dsTils.form-control.input-xlarge(name='relatedDataset' type='text')
                    p.help-block Select the dataset that related to the project.
        .form-group
            label.col-md-4.control-label(for='relatedApp') Related apps
            .col-md-3
                .ui-widget
                    input#appTils.form-control.input-xlarge(name='relatedApp' type='text')
                    p.help-block Select the app that related to the project.



        .form-group
            label.col-md-4.control-label(for='kw') Tags
            .col-md-3
                textarea.form-control(name='kw' placeholder='')
                p.help-block Comma separated tags
        // Security
        .form-group
            label.col-md-4.control-label(for='access') Security Settings
            .col-md-3
                label.checkbox(for='visible')
                    input(type='checkbox', name='vis', value='false')
                    | Do not list my project in the catalogue
        .form-group
            .col-md-3.col-md-offset-4
                button.btn.btn-primary(type='submit' disabled) Submit

block footer
    link(href='/css/ui-lightness/jquery-ui-1.10.3.custom.css', rel='stylesheet')
    link(href='/css/bootstrapValidator.css', rel='stylesheet')
    style(type='text/css').
        #adddata .form-control-feedback {
            top: 0;
            right: -15px;
        }
    script(src='/js/bootstrapValidator.min.js')
    script(src='/js/jquery-ui-1.10.3.min.js')
    script.
        var type = !{JSON.stringify(type)};
    script(src='/js/addetry.jade.js')
