doctype html
html
    include includes/head
    block head
body(itemscope itemtype='http://schema.org/WebObservatory')
    meta(itemprop='name' content='Southampton Web Observatory')
    meta(itemprop='url' content='http://webobservatory.soton.ac.uk/')
    //div(itemprop='publisher')
        div(itemscope itemtype='http://schema.org/Organization')
            meta(itemprop='name' content='University of Southampton')
    block nav
    #wrap
        .container
            block beforemain
            .row#flash-banner
                include includes/flash-banner
            .row
                block jumbotron
            .row
                block content
            #push
    include includes/footer
    block footer
