doctype html
html(itemscope itemtype='http://schema.org/WebObservatory')
    include includes/head
    block head
body
    //div(itemprop='publisher')
        div(itemscope itemtype='http://schema.org/Organization')
            meta(itemprop='name' content='University of Southampton')
    block nav
    #wrap
        .container
            block beforemain
            .row#flash-banner
                include includes/flash-banner
            .row
                block jumbotron
            .row
                block content
            #push
    include includes/footer
    block footer
