doctype html
html(lang='en')
  include includes/head
  body
    #wrap
      .container
        .row
          include includes/flash-banner
        .row
          table#display.table.table-striped.table-bordered.table-hover
            if result
              thead
                tr
                  each v in result.head.vars
                    th=v
              tbody
                each binding in result.results.bindings
                  tr
                    each v in result.head.vars
                      td=binding[v].value
      #push
  include includes/footer
  script.
    $(document).ready(
    function(){
      $('#display').dataTable();
    });
  script(src='/js/jquery.dataTables.js')
