doctype html
html(lang='en')
  include includes/head
  body
    include includes/nav
    #wrap
      .container
        .row
          #hero_unit.jumbotron
            h1 Southampton Web Observatory
            p This is the data portal for the Southampton and SOCIAM Web Observatory 
          .col-md-6
            h2 Datasets
            p  A page containing information regarding various datasets gathered
            p
              a.btn.click(href='catlg/dataset') View details &raquo;
          .col-md-6
            h2 Visualisations
            p  A page containing various data visualistions
            p
              a.btn.click(href='catlg/visualisation') View details &raquo;
      #push
    include includes/footer
