doctype html
html(lang='en')
  include includes/head
  body
    include includes/nav
    #wrap
      .container
        .row
          include includes/site-banner
        .row
          .col-md-1
          .col-md-5
            h2 Datasets
            p  A page containing information regarding various datasets gathered
            p
              a.btn.btn-primary.click(href='catlg/dataset') View details &raquo;
          .col-md-5
            h2 Visualisations
            p  A page containing various data visualistions
            p
              a.btn.btn-primary.click(href='catlg/visualisation') View details &raquo;
          .col-md-1
      #push
    include includes/footer
