include includes/head
link(href='/css/signin.css', rel='stylesheet')
body
  #wrap
    .container.text-center
      .row
        include includes/flash-banner
      .row
        .jumbotron
          h1 Southampton
          h1 Web Observatory
      .row
        p
          = client.name
          |  is requesting access to your account. Do you approve?
        form.form-signin(method="POST", action="/oauth/decision")
          input(type='hidden', name='transaction_id', value=transactionID)
          button.btn.btn-primary.btn-lg.btn-block(type="submit") Allow
          button.btn.btn-primary.btn-lg.btn-block(type="submit" name='cancel' value='Deny') Deny
      #push
  include includes/footer
