!!! 5
html(lang='en')
  include includes/head
  body
    include includes/nav
    #wrap
      .container
        div
          ul#endpoints.nav.nav-tabs
            li.span2
              a.click(href='#MongoDB', data-toggle='tab') MongoDB
            li.span2.active
              a.click(href='#SPARQL', data-toggle='tab') SPARQL End-Point
            li.span2
              a.click(href='#RAGLD', data-toggle='tab') RAGLD
          #myTabContent.tab-content
            #RAGLD.tab-pane.fade.well
              p Here you can access the Tweets using the RAGLD Framework
            #MongoDB.tab-pane.fade.well
              p This is where you can query the MongoDB&comma; containing the Twitter data
            #SPARQL.tab-pane.fade.well.active.in
              p Here you will be able to query the datasets using &lpar;distributed&rpar; SPARQL
        #endpoint-frame(calss='fade tab-pane')
      #push
    include includes/footer
    script
