include includes/head
body
  #wrap
    .container.text-center
      .row
        .hero-unit
          h1 Southampton
          h1 Web Observatory
      .row
        include includes/flash-banner
      .row
        .hide.alert.alert-warning Password not match
        form(action='/profile/reset-pass', method='post')
          fieldset
            div
              input.hide(name='tk' value=(tk?tk:undefined))
            div
              input.input-large(placeholder='New password' type='password', name='password' required='')
            div
              input.input-large(placeholder='Confirm passowrd' type='password', name='confirm' required='')
            div
              button.btn.btn-primary(type='submit') Continue
      #push
  include includes/footer
  script(src='/js/reset-pass.jade.js')
