include includes/head
script.
  var RecaptchaOptions = {
       theme : 'white',
       lang  : 'en'
    };
body
  #wrap
    .container.text-center
      .row
        .hero-unit
          h1 Southampton
          h1 Web Observatory
      .row
        include includes/flash-banner
      .row
        .hide.alert.alert-warning Password not match
      .row
        form#singup(method="POST", action="/signup")
          fieldset
            legend Please fill your details
            div
              input.input-large(placeholder='First name' type='text', name='fn' required='')
            div
              input.input-large(placeholder='Last name' type='text', name='ln' required='')
            div
              input.input-large(placeholder='Organisation' type='text', name='org' )
            div
              input.input-large(placeholder='Email' type='text', name='email' required='')
            div
              input.input-large(placeholder='Password' type='password', name='password' required='')
            div
              input.input-large(placeholder='Confirm password' type='password', name='confirm' required='')
            div
              label and verify you're human
            div
              != recaptcha_form
            div
              button.btn.btn-primary(type="submit") Sign Up
      #push
  include includes/footer
  script(src='/js/reset-pass.jade.js')
