extends login-layout
block content
  .text-center
    form.form-signin(method="POST", action="/auth/soton")
      label.form-signin-heading Soton account login 
      input.form-control.input-large(placeholder='Soton username' type='text', name='username' required='')
      input.form-control.input-large(placeholder='Soton password' type='password', name='password' required='')
      button.btn.btn-primary.btn-lg.btn-block(type="submit") Sign In
      .checkbox
        label Remember Me
          input(name='remember_me' type='checkbox')
