include includes/head
link(href='/css/signin.css', rel='stylesheet')
body
  #wrap
    .container.text-center
      .row
        include includes/flash-banner
      .row
        .jumbotron
          h1 Southampton
          h1 Web Observatory
      .row
        form.form-signin(method="POST", action="/auth/soton")
          label.form-signin-heading Soton account login 
          input.form-control.input-large(placeholder='Soton username' type='text', name='username' required='')
          input.form-control.input-large(placeholder='Soton password' type='password', name='password' required='')
          button.btn.btn-primary.btn-lg.btn-block(type="submit") Sign In
          .checkbox
            label Remember Me
              input(name='remember_me' type='checkbox')
      #push
  include includes/footer
