include includes/head
body
  #wrap
    .container.text-center
      .row
        include includes/flash-banner
      .row
        .hero-unit
          h1 Southampton 
          h1 Web Observatory
      .row
        form(method="POST", action="/auth/soton")
          fieldset
            div
              input.input-large(placeholder='Soton username' type='text', name='username')
            div
              input.input-large(placeholder='Soton password' type='password', name='password')
            div
              button.btn.btn-primary(type="submit") Sign In
      #push
  include includes/footer
