doctype html
html(lang='en')
  include includes/head
  body
    include includes/nav
    #wrap
      .container
        SPARQL query interface is underdevelopment
          
      #push
    include includes/footer
    script
