doctype html
html(lang='en')
  include includes/head
  body
    include includes/nav
    #wrap
      .container
        .row
          h3 Version history
        .row
          h5 02/04/2014
          p Changes in this release:
          ul
            li support Mongodb, Hadoop Hive
            li connection verification when adding a new dataset
            li add contact and issue report links
            li add version history (this page)
      #push
    include includes/footer
