<template name="nav">
    <nav>
        <div class="container">
            <div class="nav-wrapper">
                <a href="{{pathFor 'home'}}" class="brand-logo">
                    <!-- The second argument is the default value that will be shown if `mainPage.title` doesn't have a value set. -->
                    {{ dict 'mainPage.title' 'Web Observatory' }}

                    {{#if dict 'mainPage.description'}}
                        - {{{ dict 'mainPage.description' }}}
                    {{/if}}
                </a>
                {{#if showSearch}}
                    <form class="right">
                        <div class="input-field">
                            <input id="search" type="search" required>
                            <label for="search"><i class="material-icons">search</i></label>
                            <i class="material-icons">close</i>
                        </div>
                    </form>
                {{/if}}
                <ul id="nav-mobile" class="right side-nav fixed">
                    <li class="{{activeRouteClass 'home'}}">
                        <a href="{{pathFor 'home'}}">Home</a></li>
                    <li class="{{activeRouteClass 'dataset.latest'}}">
                        <a href="{{pathFor 'dataset.latest'}}">Datasets</a>
                    </li>
                    <li class="{{activeRouteClass 'app.latest'}}">
                        <a href="{{pathFor 'app.latest'}}">Apps</a>
                    </li>
                    {{#if currentUser}}
                        <li>
                            {{> notifications}}
                        </li>
                    {{/if}}
                    <li>
                        {{> atNavButton }}
                    </li>
                </ul>
                <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
            </div>
        </div>
    </nav>
    {{#if currentUser}}
        {{#if showAdd}}
            <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
                <a class="btn-floating btn-large waves-effect waves-light amber"
                   href="{{pathFor routes.submit}}" title="{{addItem}}"><i class="material-icons">add</i></a>
            </div>
        {{/if}}
    {{/if}}
</template>